// Add mobile styles for the component here.
.switchPrivacity {
    text-align: center;
    font-size: 16;
    font-weight: bold;
}

Button {
    width: 100%;
    background-color: #fe007d;
    color: #fff;
    font-weight: bold;
    font-size: 18;
}

Switch {
    background-color: #fe007d;
}
